.container {
  margin: 2%;
}
#root {
  max-width: 1100px;
  margin-left: 20%;
}
.box {
  background-color: #f2f1f1;
  height: auto;
  margin: 5px 18px;
}
.headText {
  padding: 15% 7%;
  font-size: 18px;
}
.socialLink {
  margin: 2%;
}
.btn {
  padding: 2%;
  font-size: 30px;
  color: white;
  background-color: black;
  float: left;
  margin-top: 2%;
  border-radius: 25px;
  margin-right: 18%;
  border: none;
}
.s-btn {
  border: none;
  padding: 2%;
  font-size: 12px;
  color: #507d66;
  background-color: #8ec5a9;
  margin-top: 2%;
  border-radius: 25px;
  margin-right: 1%;
}
.pad {
  padding: 5%;
  margin-top: 3%;
}
.profile-text {
  font-size: 14px;
  color: #30674b;
}
@media (max-width: 1440px) {
  .btn {
    margin-right: 2%;
  }
}

@media (max-width: 1024px) {
  .socialLink {
    margin: 1px;
  }
  .btn {
    padding: 4%;
    font-size: 25px;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .btn {
    padding: 0;
    margin-top: 3%;
    margin-right: 0;
  }
  .social-icon {
    height: 35px !important;
    width: 35px !important;
  }
}
@media (max-width: 425px) {
  .btn {
    padding: 1%;
    font-size: 25px;
    margin-right: 2%;
    margin-top: 0;
  }
}
